.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #28a745; /* зелений колір для виконаних завдань */
  }
  
  .btn-group button {
    margin-left: 10px;
  }
  
  .btn-complete {
    background-color: #28a745;
    color: white;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: white;
  }